{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

<form id="logsearches" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SEARCH_LOG_OPTIONS') }}</legend>

		<dl>
			<dt><label for="search_log_all">{{ lang('SEARCH_LOG_ALL') }}{{ lang('COLON') }}</label><br><span>{{ lang('SEARCH_LOG_ALL_EXPLAIN') }}</span></dt>
 			<dd>
				<input type="radio" id="search_log_all1" name="search_log_all" value="1"{% if SEARCH_LOG_ALL %} checked="checked"{% endif %} />
				<label class="set" for="search_log_all1">{{ lang('SEARCH_ALL') }}</label>
				<input type="radio" id="search_log_all0" name="search_log_all" value="0"{% if not SEARCH_LOG_ALL %} checked="checked"{% endif %} />
				<label class="unset" for="search_log_all0">{{ lang('SEARCH_FAILED') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="search_log_prune_all">{{ lang('SEARCH_LOG_PRUNE_ALL') }}{{ lang('COLON') }}</label><br><span>{{ lang('SEARCH_LOG_PRUNE_ALL_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="search_log_prune_all1" name="search_log_prune_all" value="1"{% if SEARCH_LOG_PRUNE_ALL %} checked="checked"{% endif %} />
				<label class="set" for="search_log_prune_all1">{{ lang('SEARCH_ALL') }}</label>
				<input type="radio" id="search_log_prune_all0" name="search_log_prune_all" value="0"{% if not SEARCH_LOG_PRUNE_ALL %} checked="checked"{% endif %} />
				<label class="set" for="search_log_prune_all0">{{ lang('SEARCH_SUCCESSFUL') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="search_log_prune_days">{{ lang('SEARCH_LOG_PRUNE_DAYS') }}{{ lang('COLON') }}</label><br><span>{{ lang('SEARCH_LOG_PRUNE_DAYS_EXPLAIN') }}</span></dt>
			<dd>
				<input class="textbox" name="search_log_prune_days" type="number" id="search_log_prune_days" value="{{ SEARCH_LOG_PRUNE_DAYS }}" maxlength="2" size="2" min="0" max="99" />
			</dd>
		</dl>

		<dl>
			<dt><label for="search_log_per_page">{{ lang('SEARCH_LOG_PER_PAGE') }}{{ lang('COLON') }}</label><br><span>{{ lang('SEARCH_LOG_PER_PAGE_EXPLAIN') }}</span></dt>
			<dd>
				<input class="textbox" name="search_log_per_page" type="number" id="search_log_per_page" value="{{ SEARCH_LOG_PER_PAGE }}" maxlength="2" size="2" min="0" max="99" />
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include '@' ~ NAMESPACE ~ '/donate.html' %}
